<!-- banner-text -->
<div class="banner-text">
  <div class="tablet-container">
    <div class="help-search" style="margin-bottom: 2em;">
      <form action="#" method="post" style="font-size:30px;">
        <input id="phone-text" type="search" name="Search" placeholder="번호를 입력하세요" required="">
      </form>
    </div>

    <!-- order -->
    <div class="wthree-order" style="padding: 0.7em 0;">
      <div class="container" style="width:350px;float:left;">
        <div class="order-agileinfo">
            <% for (var i=0; i<=11; i++) {%>
          <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:20%;margin:10px 20px 10px;">
            <div class="order-x3text" style="width:90px;height:90px;">
              <i class="fa fa-volume-control-phone" aria-hidden="true" style="margin-left:7px;margin-top:5px;"></i>
                <% if (i == 0) { %><span id="click<%= i %>">1</span>
                <% }else if(i == 1) {%><span id="click<%= i %>">2</span>
                <% }else if(i == 2) {%><span id="click<%= i %>">3</span>
                <% }else if(i == 3) {%><span id="click<%= i %>">4</span>
                <% }else if(i == 4) {%><span id="click<%= i %>">5</span>
                <% }else if (i == 5) { %><span id="click<%= i %>">6</span>
                <% }else if(i == 6) {%><span id="click<%= i %>">7</span>
                <% }else if(i == 7) {%><span id="click<%= i %>">8</span>
                <% }else if(i == 8) {%><span id="click<%= i %>">9</span>
                <% }else if(i == 9) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">clear</span>
                <% }else if(i == 10) {%><span id="click<%= i %>">0</span>
                <% }else if(i == 11) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">back</span>
                <%}%>
            </div>
          </div>
            <%}%>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="container" style="width:400px;float:right;text-align:right;">
        <span id="coupon_btn_push" class="label" style="font-size:35px;border-radius:20px;padding:10px 10px 20px 10px;margin:0.5em;background-color:darkorange;">쿠폰 사용 요청</span>
        <img class="lazyOwl" src="/images/papastamp-qrcode.png" title="Our latest gallery" alt="" style="width:40%;margin: 4em 2em 0 0;"/>
        <h3 id="click-event" style="font-size:30px;color:darkgray;padding-right:1em;margin:1em 0 1.5em 0;">https://papastamp.com</h3>
        <span id="stamp_btn_push" class="label label-success" style="font-size:35px;border-radius:20px;padding:10px 10px 20px 10px;margin:0.5em;">스탬프 적립 요청</span>
      </div>
      <div class="container" style="width:200px;text-align:center;">
        <!--<h3 id="click-event" style="font-size:30px;color:darkgray;margin-top:1em;margin-bottom:1em;">대기 번호</h3>
        <img id="shopOrderNumber" class="lazyOwl" src="/images/order/order_number_<%= currentNumberData.SHOP_CURRENT_NUM %>.png" title="Our latest gallery" alt="" style="width:80%;margin-bottom:3em;"/>-->
      </div>
    </div>
    <!-- //order -->
  </div>
</div>
</div>
<!-- //banner -->

<div id="admin-coupon-confirm" class="dialog-confirm">
  <figure>
    <div class="confirm-coupon-user-number" id="stamp-user-number" style="margin-top: 15px;">010-2618-1715</div>
    <label style="margin-bottom: 30px;" for="terms">적립된 쿠폰을 사용하시겠습니까?</label><br/>
    <div id="admin-coupon-list" style="float:left;margin-left:20px;width: 85%;">
    </div>
  </figure>
</div>

<script src='/js/jquery-2.2.3.min.js' type='text/javascript'></script>
<script type="text/javascript">
    $(document).ready(function() {
        var tempNumber = '';
        var inputData = '';

        $("#stamp_btn_push").click(
            function() {
                inputData = '9c4e059cb007a6d5065017d8f07133cd';//$("#phone-text").val();

                if(tempNumber.length < 17) {
                    $.toast.config.align = 'center';
                    $.toast.config.width = 230;
                    $.toast('<h4>올바른 번호</h4>를 입력하세요!!.', { type: 'danger', duration: 3000 } );
                }else {
                    pushStamp(inputData, 'admin');
                }
            }
        );

        $("#coupon_btn_push").click(
            function() {
                inputData = '9c4e059cb007a6d5065017d8f07133cd';//$("#phone-text").val();

                if(tempNumber.length < 17) {
                    $.toast.config.align = 'center';
                    $.toast.config.width = 230;
                    $.toast('<h4>올바른 번호</h4>를 입력하세요!!.', { type: 'danger', duration: 3000 } );
                }else {
                    var shopId = $("#shop_id").val();
                    var dataString = {'shop_id': shopId};
                    var headers = {};
                    headers["user_id"] = inputData;

                    $.ajax({
                        url: $("#url").val() + '/v1/coupon/selectCoupon',
                        type: 'GET',
                        headers : headers,
                        dataType: 'json',
                        data : dataString,
                        success: function(data) {
                            if(data.selectCouponData.length > 0) {
                                var couponList = document.getElementById("admin-coupon-list");
                                var appendData = '';
                                var couponLength = data.selectCouponData.length;
                                for(var i=0; i<couponLength; i++) {
                                    appendData += '<div style="margin-bottom:50px;">';
                                    if(i == 0) {
                                        appendData += '<input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="'+data.selectCouponData[i].COUPON_NUMBER+'" checked="checked">';
                                    }else {
                                        appendData += '<input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="'+data.selectCouponData[i].COUPON_NUMBER+'">';
                                    }
                                    appendData += '<h5 style="padding-top:16px;" class="confirm-coupon-number">'+ data.selectCouponData[i].COUPON_NUMBER +' / '+ data.selectCouponData[i].COUPON_NAME +
                                        ' / '+ data.selectCouponData[i].EXPIRATION_DT +'</h5>' +
                                        '</input>' +
                                        '</div>';
                                }
                                couponList.innerHTML = appendData;
                                adminCoupon(inputData);
                            }else {
                                $.toast.config.width = 150;
                                $.toast('<h4>사용 가능한 쿠폰</h4>이 없습니다.!', { type: 'danger', sticky : true } );
                            }
                        }
                    });

                    /*useCoupon(inputData);*/
                }
            }
        );

        $(".order-x3text span").click(function(event){
            var index = $(".order-x3text").children('span').index(this);

            clickCss(index);

            if(index == '10') index = -1;

            if(index == '9') {
                $("#phone-text").val('');
                tempNumber = '';
            }else if(index == '11') {
                var checkNumber = tempNumber.charAt(tempNumber.length-1);
                if(checkNumber == ' ') {
                    tempNumber = tempNumber.substr(0, tempNumber.length-4);
                }else {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
                }
                $("#phone-text").val(tempNumber);
            }else {
                tempNumber += (index+1);

                if(tempNumber.length > 17) {
                    tempNumber = tempNumber.substr(0, tempNumber.length-1);
                }else {
                    if(tempNumber.length == 3 || tempNumber.length == 10) {
                        tempNumber += ' - ';
                    }
                    $("#phone-text").val(tempNumber);
                }
            }
        });

        function clickCss(index) {
            $("#click"+index).css({"-webkit-transform": "scale(0)",
                "-moz-transform": "scale(0)",
                "-o-transform": "scale(0)",
                "-ms-transform": "scale(0)",
                "transform": "scale(0)"});

            setTimeout(function() {
                $("#click"+index).css({"-webkit-transform": "scale(1)",
                    "-moz-transform": "scale(1)",
                    "-o-transform": "scale(1)",
                    "-ms-transform": "scale(1)",
                    "transform": "scale(1)"});
            }, 200);
        }

        function adminCouponCallback(userId) {
            var shopId = $("#shop_id").val();
            var couponNumber = $("input:radio[name=paramCouponValue]:checked").val();
            var dataString = {'shop_id': shopId, 'coupon_number': couponNumber};
            var headers = {};
            headers["user_id"] = userId;

            $.ajax({
                url: $("#url").val() + '/v1/coupon/useCoupon',
                type: 'PUT',
                headers: headers,
                dataType: 'json',
                data: dataString,
                success: function (data) {
                    $.toast('<h4>쿠폰 사용</h4>이 완료되었습니다!!.', { type: 'info', duration: 3000 } );
                },
                error: function (request, status, error) {
                    console.error("selectStampDate : code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        function adminCoupon(userId) {
            $("#admin-coupon-confirm").dialog({
                resizable: false,
                modal: true,
                title: "사용 가능 쿠폰!",
                height: 450,
                width: 700,
                resizable:false,
                buttons: {
                    "확인": function () {
                        $(this).dialog('close');
                        adminCouponCallback(userId);
                    },
                    "취소": function () {
                        $(this).dialog('close');
                    }
                }
            });
        }

    });
</script>
