<!-- banner-text -->
<div class="banner-text">
  <div class="tablet-container">
    <div class="help-search" style="margin-bottom: 2em;">
      <form action="#" method="post" style="font-size:30px;">
        <input id="phone-text" type="search" name="Search" placeholder="번호를 입력하세요" required="">
      </form>
    </div>

    <!-- order -->
    <div class="wthree-order" style="padding: 0.7em 0;">
      <div class="container" style="width:350px;float:left;">
        <div class="order-agileinfo">
            <% for (var i=0; i<=11; i++) {%>
          <div class="col-md-3 col-sm-3 col-xs-6 order-w3lsgrids" style="width:20%;margin:10px 20px 10px;">
            <div class="order-x3text" style="width:90px;height:90px;">
              <i class="fa fa-volume-control-phone" aria-hidden="true" style="margin-left:7px;margin-top:5px;"></i>
                <% if (i == 0) { %><span id="click<%= i %>">1</span>
                <% }else if(i == 1) {%><span id="click<%= i %>">2</span>
                <% }else if(i == 2) {%><span id="click<%= i %>">3</span>
                <% }else if(i == 3) {%><span id="click<%= i %>">4</span>
                <% }else if(i == 4) {%><span id="click<%= i %>">5</span>
                <% }else if (i == 5) { %><span id="click<%= i %>">6</span>
                <% }else if(i == 6) {%><span id="click<%= i %>">7</span>
                <% }else if(i == 7) {%><span id="click<%= i %>">8</span>
                <% }else if(i == 8) {%><span id="click<%= i %>">9</span>
                <% }else if(i == 9) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">clear</span>
                <% }else if(i == 10) {%><span id="click<%= i %>">0</span>
                <% }else if(i == 11) {%><span id="click<%= i %>" style="font-size:2.8em;padding-top:0.4em;">back</span>
                <%}%>
            </div>
          </div>
            <%}%>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="container" style="width:400px;float:right;text-align:right;">
        <span id="coupon_btn_push" class="label" style="font-size:35px;border-radius:20px;padding:10px 10px 20px 10px;margin:0.5em;background-color:darkorange;">쿠폰 사용 요청</span>
        <img class="lazyOwl" src="/images/papastamp-qrcode.png" title="Our latest gallery" alt="" style="width:40%;margin: 4em 2em 0 0;"/>
        <h3 id="click-event" style="font-size:30px;color:darkgray;padding-right:1em;margin:1em 0 1.5em 0;">https://papastamp.com</h3>
        <span id="stamp_btn_push" class="label label-success" style="font-size:35px;border-radius:20px;padding:10px 10px 20px 10px;margin:0.5em;">스탬프 적립 요청</span>
      </div>
      <div class="container" style="width:200px;text-align:center;">
        <!--<h3 id="click-event" style="font-size:30px;color:darkgray;margin-top:1em;margin-bottom:1em;">대기 번호</h3>
        <img id="shopOrderNumber" class="lazyOwl" src="/images/order/order_number_<%= currentNumberData.SHOP_CURRENT_NUM %>.png" title="Our latest gallery" alt="" style="width:80%;margin-bottom:3em;"/>-->
      </div>
    </div>
    <!-- //order -->
  </div>
</div>
</div>
<!-- //banner -->

<div id="admin-coupon-confirm" class="dialog-confirm">
  <figure>
    <div id="admin-stamp-user-count"></div>
    <div id="admin-coupon-user-count"></div>
    <span class="user-number"></span>
    <label style="margin-bottom: 30px;" for="terms">적립된 쿠폰을 사용하시겠습니까?</label><br/>
    <div id="admin-coupon-list" style="float:left;margin-left:20px;width: 85%;">
    </div>
  </figure>
</div>

<script src='/js/jquery-2.2.3.min.js' type='text/javascript'></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#phone-text').focus();

        var tabletNumber = '';
        var keyNumber = '';
        var inputData = '';

        $("#phone-text").keyup(function(event) {
            keyNumber = $(this).val();

            if(keyNumber.length == 3 || keyNumber.length == 8) {
                keyNumber = $(this).val();
                keyNumber += '-';
                $(this).val(keyNumber);
            }

            if(keyNumber.length == 13) {
                callFunction();
            }

            switch(event.keyCode) {
                case 8 :
                    var checkNumber = keyNumber.charAt(keyNumber.length-1);
                    if(checkNumber == '-') {
                        keyNumber = keyNumber.substr(0, keyNumber.length-1);
                        $(this).val(keyNumber);
                    }
                    clickCss(11);break;
                case 48 :
                    clickCss(10);break;
                case 49 :
                    clickCss(0);break;
                case 50 :
                    clickCss(1);break;
                case 51 :
                    clickCss(2);break;
                case 52 :
                    clickCss(3);break;
                case 53 :
                    clickCss(4);break;
                case 54 :
                    clickCss(5);break;
                case 55 :
                    clickCss(6);break;
                case 56 :
                    clickCss(7);break;
                case 57 :
                    clickCss(8);break;
                case 96 :
                    clickCss(10);break;
                case 97 :
                    clickCss(0);break;
                case 98 :
                    clickCss(1);break;
                case 99 :
                    clickCss(2);break;
                case 100 :
                    clickCss(3);break;
                case 101 :
                    clickCss(4);break;
                case 102 :
                    clickCss(5);break;
                case 103 :
                    clickCss(6);break;
                case 104 :
                    clickCss(7);break;
                case 105 :
                    clickCss(8);break;
                default :
                    clickCss(9);break;
            }

            /*if(event.keyCode >=48 && event.keyCode <= 59 || event.keyCode >=96 && event.keyCode <= 105) {
                var textLength = $(this).val().length;

                if(textLength > 13) {
                    keyNumber = $(this).val();
                    $(this).val(keyNumber.substr(0, keyNumber.length-1));
                }else {
                    if (textLength == 3 || textLength == 8) {
                        keyNumber = $(this).val();
                        keyNumber += '-';
                        $(this).val(keyNumber);
                    }

                    if(textLength == 13) {
                        callFunction();
                    }
                }
            }*/
        });

        $("#stamp_btn_push").click(
            function() {
                var shopId = $("#shop_id").val();
                var phoneNumber = $("#phone-text").val();
                $(".user-number").html(phoneNumber);

                var dataString = {'user_number': phoneNumber, 'shop_id': shopId};
                $.ajax({
                    url: $("#url").val() + '/user/v1/couponCheck',
                    type: 'GET',
                    dataType: 'json',
                    data: dataString,
                    success: function (data) {
                        inputData = data.userId;
                        var stampCount = Number(data.userStamp)%10;
                        var couponCount = data.selectCouponData.length;
                        $("#push-stamp-user-count").html('<h4 class="stamp-count" id="stamp-count">(현재까지 적립된 스탬프 : '+ stampCount +'개)</h4>');
                        $("#push-coupon-user-count").html('<h4 class="coupon-count" id="coupon-count">(현재까지 미사용 쿠폰 : '+ couponCount +'장)</h4>');

                        tabletNumber = $("#phone-text").val();
                        if(tabletNumber.length < 13) {
                            $.toast.config.align = 'center';
                            $.toast.config.width = 470;
                            $.toast('<span style="font-size:1.8em;"><h4 style="font-size:2em;">올바른 번호</h4>를 입력하세요!!.</span>', { type: 'danger', duration: 3000 });
                        }else {
                            if (data.selectCouponData.length > 0) {
                                $.toast.config.align = 'center';
                                $.toast.config.width = 420;
                                $.toast('<span style="font-size:1.8em;">발급된 <h4 style="font-size:2em;">쿠폰</h4>이 ' + data.selectCouponData.length + '장 있습니다.</span>', {type: 'danger', duration: 5000});
                            }
                            pushStamp(inputData, 'admin', false);
                        }
                    },
                    error: function(request, status, error) {
                        console.error("encryptUid : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            }
        );

        $("#coupon_btn_push").click(
            function() {
                var shopId = $("#shop_id").val();
                var phoneNumber = $("#phone-text").val();
                $(".user-number").html(phoneNumber);

                var dataString = {'user_number': phoneNumber, 'shop_id': shopId};
                $.ajax({
                    url: $("#url").val() + '/user/v1/couponCheck',
                    type: 'GET',
                    dataType: 'json',
                    data: dataString,
                    success: function (data) {
                        inputData = data.userId;
                        var stampCount = Number(data.userStamp)%10;
                        var couponCount = data.selectCouponData.length;
                        $("#stamp-user-count").html('<h4 class="stamp-count" id="stamp-count">(현재까지 적립된 스탬프 : '+ stampCount +'개)</h4>');
                        $("#coupon-user-count").html('<h4 class="coupon-count" id="coupon-count">(현재까지 미사용 쿠폰 : '+ couponCount +'장)</h4>');
                        tabletNumber = $("#phone-text").val();

                        if(tabletNumber.length < 13) {
                            $.toast.config.align = 'center';
                            $.toast.config.width = 470;
                            $.toast('<span style="font-size:1.8em;"><h4 style="font-size:2em;">올바른 번호</h4>를 입력하세요!!.</span>', { type: 'danger', duration: 3000 });
                        }else {
                            if(data.selectCouponData.length > 0) {
                                var couponList = document.getElementById("admin-coupon-list");
                                var appendData = '';
                                var couponLength = data.selectCouponData.length;
                                for(var i=0; i<couponLength; i++) {
                                    appendData += '<div style="margin-bottom:50px;">';
                                    if(i == 0) {
                                        appendData += '<input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="'+data.selectCouponData[i].COUPON_NUMBER+'" checked="checked">';
                                    }else {
                                        appendData += '<input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="'+data.selectCouponData[i].COUPON_NUMBER+'">';
                                    }
                                    appendData += '<h5 style="padding-top:16px;" class="confirm-coupon-number">'+ data.selectCouponData[i].COUPON_NUMBER +' / '+ data.selectCouponData[i].COUPON_NAME +
                                        ' / '+ data.selectCouponData[i].EXPIRATION_DT +'</h5>' +
                                        '</input>' +
                                        '</div>';
                                }
                                couponList.innerHTML = appendData;
                                adminCoupon(inputData);
                            }else {
                                $.toast.config.align = 'center';
                                $.toast.config.width = 430;
                                $.toast('<span style="font-size:1.8em;">사용 가능한 <h4 style="font-size:2em;">쿠폰</h4>이 없습니다.!</span>', {type: 'success', uration: 3000 });
                            }
                        }
                    },
                    error: function(request, status, error) {
                        console.error("encryptUid : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            }
        );

        $(".order-x3text span").click(function(event){
            var index = $(".order-x3text").children('span').index(this);

            clickCss(index);

            tabletNumber = $("#phone-text").val();

            if(index == '10') index = -1;

            if(index == '9') {
                $("#phone-text").val('');
                tabletNumber = '';
            }else if(index == '11') {
                var checkNumber = tabletNumber.charAt(tabletNumber.length-1);
                if(checkNumber == '-') {
                    tabletNumber = tabletNumber.substr(0, tabletNumber.length-2);
                }else {
                    tabletNumber = tabletNumber.substr(0, tabletNumber.length-1);
                }
                $("#phone-text").val(tabletNumber);
            }else {
                tabletNumber += (index+1);
                if(tabletNumber.length > 13) {
                    tabletNumber = tabletNumber.substr(0, tabletNumber.length-1);
                }else {
                    if(tabletNumber.length == 3 || tabletNumber.length == 8) {
                        tabletNumber += '-';
                    }

                    $("#phone-text").val(tabletNumber);

                    if(tabletNumber.length == 13) {
                        callFunction();
                    }
                }
            }
        });
        
        function callFunction() {
            var shopId = $("#shop_id").val();
            var phoneNumber = $("#phone-text").val();
            $(".user-number").html(phoneNumber);

            var dataString = {'user_number': phoneNumber, 'shop_id': shopId};
            $.ajax({
                url: $("#url").val() + '/user/v1/couponCheck',
                type: 'GET',
                dataType: 'json',
                data: dataString,
                success: function (data) {
                    inputData = data.userId;
                    var stampCount = Number(data.userStamp)%10;
                    var couponCount = data.selectCouponData.length;
                    $("#admin-stamp-user-count").html('<h4 class="stamp-count" id="stamp-count">(현재까지 적립된 스탬프 : '+ stampCount +'개)</h4>');
                    $("#admin-coupon-user-count").html('<h4 class="coupon-count" id="coupon-count">(현재까지 미사용 쿠폰 : '+ couponCount +'장)</h4>');
                    $("#push-stamp-user-count").html('<h4 class="stamp-count" id="stamp-count">(현재까지 적립된 스탬프 : '+ stampCount +'개)</h4>');
                    $("#push-coupon-user-count").html('<h4 class="coupon-count" id="coupon-count">(현재까지 미사용 쿠폰 : '+ couponCount +'장)</h4>');

                    if (couponCount > 0) {
                        var couponList = document.getElementById("admin-coupon-list");
                        var appendData = '';
                        var couponLength = data.selectCouponData.length;
                        for(var i=0; i<couponLength; i++) {
                            appendData += '<div style="margin-bottom:50px;">';
                            if(i == 0) {
                                appendData += '<input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="'+data.selectCouponData[i].COUPON_NUMBER+'" checked="checked">';
                            }else {
                                appendData += '<input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="'+data.selectCouponData[i].COUPON_NUMBER+'">';
                            }
                            appendData += '<h5 style="padding-top:16px;" class="confirm-coupon-number">'+ data.selectCouponData[i].COUPON_NUMBER +' / '+ data.selectCouponData[i].COUPON_NAME +
                                ' / '+ data.selectCouponData[i].EXPIRATION_DT +'</h5>' +
                                '</input>' +
                                '</div>';
                        }
                        couponList.innerHTML = appendData;
                        adminCoupon(inputData);
                    }else {
                        pushStamp(inputData, 'admin');
                    }
                },
                error: function(request, status, error) {
                    console.error("encryptUid : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        }

        function clickCss(index) {
            $("#click"+index).css({"-webkit-transform": "scale(0)",
                "-moz-transform": "scale(0)",
                "-o-transform": "scale(0)",
                "-ms-transform": "scale(0)",
                "transform": "scale(0)"});

            setTimeout(function() {
                $("#click"+index).css({"-webkit-transform": "scale(1)",
                    "-moz-transform": "scale(1)",
                    "-o-transform": "scale(1)",
                    "-ms-transform": "scale(1)",
                    "transform": "scale(1)"});
            }, 200);
        }

        function adminCouponCallback(userId) {
            var shopId = $("#shop_id").val();
            var couponNumber = $("input:radio[name=paramCouponValue]:checked").val();
            var dataString = {'shop_id': shopId, 'coupon_number': couponNumber};
            var headers = {};
            headers["user_id"] = userId;

            $.ajax({
                url: $("#url").val() + '/coupon/v1/useCoupon',
                type: 'PUT',
                headers: headers,
                dataType: 'json',
                data: dataString,
                success: function (data) {
                    $.toast.config.align = 'center';
                    $.toast.config.width = 600;
                    $.toast('<span style="font-size:1.8em;"><h4 style="font-size:2em;">쿠폰</h4> 사용이 완료되었습니다.</span>', {type: 'success', sticky: true});
                    $("#phone-text").val('');
                },
                error: function (request, status, error) {
                    console.error("selectStampDate : code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        }

        function adminCoupon(userId) {
            $("#admin-coupon-confirm").dialog({
                resizable: false,
                modal: true,
                title: "파파스탬프 쿠폰!",
                height: 450,
                width: 700,
                resizable:false,
                buttons: {
                    "확인": function () {
                        $(this).dialog('close');
                        adminCouponCallback(userId);
                        $("#phone-text").val('');
                    },
                    "취소": function () {
                        $(this).dialog('close');
                    }
                }
            });
        }

    });
</script>
