<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Gentelella Alela! | </title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- Animate.css -->
  <link href="/vendors/animate.css/animate.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/css/custom.min.css" rel="stylesheet">

  <script type ="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
</head>

<form action="/" method="get" style="display:none" name="list_setting" id="list_setting">
  <input type="hidden" name="url" id="url" value="<%= url %>"/>
</form>

<form action="signin/initPage" method="get" style="display:none" name="sendform" id="sendform">
  <input type="hidden" name="shop_id" id="shop_id" value=""/>
  <input type="hidden" name="shop_name" id="shop_name" value=""/>
  <input type="hidden" name="shop_icon" id="shop_icon" value=""/>
  <input type="hidden" name="user_email" id="user_email" value=""/>
</form>

<body class="login">
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Admin Portal 로그인</h1>
          <!--<form action="/login/initPage" method="post" id="sendform" class="form-inline">-->
            <div>
              <% if(adminEmail == "관리자 아이디") {%>
                <input type="text" class="form-control" placeholder="<%= adminEmail %>" required="" id="signinEmail"/>
              <% }else {%>
                <input type="text" class="form-control" placeholder="<%= adminEmail %>" value="<%= adminEmail %>" required="" id="signinEmail"/>
              <% }%>
            </div>
            <div>
              <% if(adminEmail == "관리자 아이디") {%>
                <input type="password" class="form-control" placeholder="<%= adminPw %>" required="" id="signinPassword"/>
              <% }else {%>
                <input type="password" class="form-control" placeholder="<%= adminPw %>" value="<%= adminPw %>" required="" id="signinPassword"/>
              <% }%>
            </div>
            <div>
            <a class="btn btn-default submit" id="btn_send">관리자 로그인</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">
              <a href="#signup" class="to_register">해당 지점 접속 정보는 Papa-stamp 담당자에게 문의 바랍니다! </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1><img style="width:80px;margin-right:20px;" src="/images/papastamp_icon.png"/> 파파 스탬프 !!! </h1>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
</body>
</html>

<script type ="text/javascript">
    $(function() {
        $('#btn_send').on('click',
            function() {
                if ($('#signinEmail').val() == "") {
                    alert('관리자 아이디를 입력하세요!');
                    $('#signinEmail').focus();
                    return;
                }

                if ($('#signinPassword').val() == "") {
                    alert('관리자 패스워드를 입력하세요!');
                    $('#signinPassword').focus();
                    return;
                }

                var loginInfo = '{"signin_email":"' + $('#signinEmail').val() + '", "signin_password":"' + $('#signinPassword').val() + '"}';
                $.ajax({
                    url: $("#url").val()+'/admin/v1/signin/userCheck',
                    type: 'GET',
                    traditional:true,
                    data: JSON.parse(loginInfo),
                    success: function(data) {
                        if(data.signinEmailCheck == '1' && data.signinPasswordCheck == '1'){
                            $('#shop_id').val(data.shopId);
                            $('#shop_name').val(data.shopName);
                            $('#shop_icon').val(data.shopIcon);
                            $('#user_email').val(data.signinEmail);

                            $('#sendform').submit(); // 전송
                        }else {
                            if(data.signinEmailCheck == '0') {
                                alert('올바른 아이디를 입력하세요!');
                            }
                            if(data.signinPasswordCheck == '0') {
                                alert('올바른 패스워드를 입력하세요!');
                            }
                        }
                    },
                    error: function(request, status, error) {
                        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                        console.log('Error occured');
                    }
                });
            });
    });
</script>
<script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAn_RTcg2y4ek16TUM-R0aMjCZ_ILFUCZQ",
        authDomain: "web-quick-386a3.firebaseapp.com",
        databaseURL: "https://web-quick-386a3.firebaseio.com",
        projectId: "web-quick-386a3",
        storageBucket: "web-quick-386a3.appspot.com",
        messagingSenderId: "653680124187"
    };
    firebase.initializeApp(config);

    const messaging = firebase.messaging();
    messaging.requestPermission()
        .then(function () {
            console.log('Have permission');
            return messaging.getToken();
        })
        .then(function (token) {
            console.log(token);
        })
        .catch (function () {
            console.log('Error occured');
        })
</script>
