<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.ico" type="image/ico" />

  <title>Papa-stamp Admin!</title>

  <link rel="stylesheet" href="/css/jquery.toast.min.css" type="text/css"/>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <!-- bootstrap-datetimepicker -->
  <link href="/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <!-- Ion.RangeSlider -->
  <link href="/vendors/normalize-css/normalize.css" rel="stylesheet">
  <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
  <link href="/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
  <!-- Bootstrap Colorpicker -->
  <link href="/vendors/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">

  <link href="/vendors/cropper/dist/cropper.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
  <link href="/css/custom.css" rel="stylesheet">

</head>

<body class="nav-md">

<form name="menuAction" method="get" style="display:none">
  <input type="hidden" name="url" id="url" value="<%= url %>"/>
  <input type="hidden" name="user_id" id="user_id" value=""/>
  <input type="hidden" name="shop_id" id="shop_id" value="<%= shopId %>"/>
  <input type="hidden" name="shop_name" id="shop_name" value="<%= shopName %>"/>
  <input type="hidden" name="shop_icon" id="shop_icon" value="<%= shopIcon %>"/>
  <input type="hidden" name="user_email" id="user_email" value="<%= userEmail %>"/>
</form>

<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a onclick="mainView();" class="site_title"><img style="width:50px;margin-right:5px;" src="/images/papastamp_icon.png"/><span>파파스탬프!</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <img src="/images/shop-stamp/<%= shopIcon %>" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2><%= shopName %></h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>메뉴</h3>
            <ul class="nav side-menu">
              <li><a onclick="stampView();"><i class="fa fa-home"></i>스탬프 적립</a>
              </li>
              <li><a><i class="fa fa-edit"></i> 쿠폰 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a onclick="couponView();">쿠폰 적립</a></li>
                  <li><a onclick="couponManagement();">쿠폰 관리</a></li>
                </ul>
              </li>

              <li><a onclick="customNumber();"><i class="fa fa-laptop"></i>전화 번호<span class="label label-success pull-right">Coming Soon</span></a></li>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle" style="width:210px;">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            <span style="font-size:25px;padding-left:10px;color: darkorange;"><%= today %></span>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="images/img.jpg" alt=""><%= userEmail %>
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a onclick="test();">Help</a></li>
                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>

        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <% if(view == 'main') { %>
      <% include ../papa-admin/admin-main.ejs %>
    <% } else if(view == 'stamp') { %>
      <% include ../papa-admin/admin-stamp.ejs %>
    <% } else if(view == 'coupon') { %>
      <% include ../papa-admin/admin-coupon.ejs %>
    <% } else if(view == 'manager') { %>
      <% include ../papa-admin/admin-coupon-manager.ejs %>
    <% } else if(view == 'tablet') { %>
      <% include ../papa-admin/admin-tablet.ejs %>
    <% } %>

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<div id="create-coupon-confirm" class="dialog-confirm">
  <figure>
    <h5 class="confirm-coupon-count" id="confirm-coupon-count"></h5>
    <label style="margin-bottom: 30px;" for="terms">새로 생성 하시겠습니까?</label><br/>
  </figure>
</div>

<div id="push-coupon-confirm" class="dialog-confirm">
  <figure>
    <div class="confirm-coupon-user-number" id="push-coupon-user-number" style="margin-top: 15px;"></div>
    <div>
      <label style="margin-bottom: 30px;" for="terms">쿠폰 사용을 허용 하시겠습니까?</label><br/>
    </div>
    <h5 class="confirm-coupon-number" id="push-coupon-number"></h5>
    <h4 class="confirm-coupon-name" id="push-coupon-name"></h4>
    <h4 class="confirm-coupon-date" id="push-coupon-date"></h4>
  </figure>
</div>

<div id="user-coupon-confirm" class="dialog-confirm">
  <figure>
    <div id="user-stamp-user-count"></div>
    <div id="user-coupon-user-count"></div>
    <span class="user-number"></span>
    <label style="margin-bottom: 30px;" for="terms">적립된 쿠폰을 사용하시겠습니까?</label><br/>
    <div id="user-coupon-data" style="float:left;margin-left:20px;width: 85%;">
      <div style="margin-bottom:50px;">
        <input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="' + data.selectCouponData[i].COUPON_NUMBER + '" checked="checked">
        <h5 style="padding-top:16px;" class="confirm-coupon-number" id="confirm-user-coupon-number"></h5>
        </input>
      </div>
    </div>
  </figure>
</div>

<div id="admin-coupon-confirm" class="dialog-confirm">
  <figure>
    <div id="admin-stamp-user-count"></div>
    <div id="admin-coupon-user-count"></div>
    <span class="user-number"></span>
    <label style="margin-bottom: 30px;" for="terms">적립된 쿠폰을 사용하시겠습니까?</label><br/>
    <div id="admin-coupon-list" style="float:left;margin-left:20px;width: 85%;">
      <div style="margin-bottom:50px;">
        <input style="float:left;margin: 10px 10px 10px 10px;" type="radio" name="paramCouponValue" value="' + data.selectCouponData[i].COUPON_NUMBER + '" checked="checked">
          <h5 style="padding-top:16px;" class="confirm-coupon-number" id="confirm-coupon-number"></h5>
        </input>
        </div>
    </div>
  </figure>
</div>

<div id="push-stamp-confirm" class="dialog-confirm">
  <figure>
    <div id="push-stamp-user-count"></div>
    <div id="push-coupon-user-count"></div>
    <div class="user-number"></div>
    <div>
      <label style="margin-bottom: 30px;" for="terms">스탬프 적립 하시겠습니까?</label><br/>
      <input type="radio" name="paramStampValue" value="1" checked="checked">1</input><br/>
      <input type="radio" name="paramStampValue" value="2">2</input>
      <input type="radio" name="paramStampValue" value="3">3</input>
      <input type="radio" name="paramStampValue" value="4">4</input>
      <input type="radio" name="paramStampValue" value="5">5</input>
    </div>
  </figure>
</div>

<div id="auth-code-confirm" class="dialog-confirm">
  <figure>
    <div style="color:#ba9d37;font-size:35px;margin:20px;" id="auth-number"></div>
    <label style="margin:20px;" for="terms">사용자 확인 코드 확인되셨습니까?</label><br/>
  </figure>
</div>

</body>

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-datetimepicker -->
<script src="/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<!-- Ion.RangeSlider -->
<script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<!-- Bootstrap Colorpicker -->
<script src="/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<!-- jquery.inputmask -->
<script src="/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<!-- jQuery Knob -->
<script src="/vendors/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- Cropper -->
<script src="/vendors/cropper/dist/cropper.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/js/custom.js"></script>

<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script src='/js/jquery.toast.min.js' type='text/javascript'></script>

<script src="https://papastamp.com:8060/socket.io/socket.io.js"></script>
<!--<script src="http://localhost:8060/socket.io/socket.io.js"></script>-->
<script type="text/javascript">
    var pushShopId = $("#shop_id").val();
    var convertUrl = ($("#url").val().substr(0, 5) == 'https') ? $("#url").val() : $("#url").val().substr(0,16);
    var socket = io.connect(convertUrl+':8060');
    socket.on(pushShopId, function(data){
        if (data.type == "request-stamp") {
            $(".user-number").html(data.phoneNumber);
            var stampCount = Number(data.userStamp)%10;
            var couponCount = data.selectCouponData.length;
            $("#push-stamp-user-count").html('<h4 class="stamp-count" id="stamp-count">(현재까지 적립된 스탬프 : '+ stampCount +'개)</h4>');
            $("#push-coupon-user-count").html('<h4 class="coupon-count" id="coupon-count">(현재까지 미사용 쿠폰 : '+ couponCount +'장)</h4>');

            pushStamp(data.sendId, 'push');
        }else if(data.type == "request-coupon") {
            $(".user-number").html(data.phoneNumber);
            var stampCount = Number(data.userStamp)%10;
            var couponCount = data.selectCouponData.length;
            $("#user-stamp-user-count").html('<h4 class="stamp-count" id="stamp-count">(현재까지 적립된 스탬프 : '+ stampCount +'개)</h4>');
            $("#user-coupon-user-count").html('<h4 class="coupon-count" id="coupon-count">(현재까지 미사용 쿠폰 : '+ couponCount +'장)</h4>');

            pushUseCoupon(data.sendId, data.couponNumber);
        }
    });
</script>
<script>
    $(document).ready(function() {
        var pushCountView = document.getElementById('push-count');
        pushCountView.innerHTML = 0;
    });

    function mainView() {
        document.menuAction.action = '/admin/v1/signin/initPage';
        document.menuAction.submit();
    }

    function stampView() {
        document.menuAction.action = '/admin-stamp/v1/main';
        document.menuAction.submit();
    }

    function couponView() {
        document.menuAction.action = '/admin-coupon/v1/main';
        document.menuAction.submit();
    }

    function couponManagement() {
        document.menuAction.action = '/admin-coupon/v1/manager';
        document.menuAction.submit();
    }

    function customNumber() {
        document.menuAction.action = '/admin-tablet/v1/main';
        document.menuAction.submit();
    }

    function pushStampCallback(userId) {
        var shopId = $("#shop_id").val();
        var stampNumber = $("input:radio[name=paramStampValue]:checked").val();
        var dataString = {'shop_id': shopId, 'stamp_number': stampNumber};
        var headers = {};
        headers["user_id"] = userId;

        $.ajax({
            url: $("#url").val() + '/notification/v1/update-stamp',
            type: 'POST',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
                alert($('#user-data').length);
                if($('#user-data').length > 0) {
                    var userHisData = document.getElementById('user-data');
                    var appendData = '';
                    var dataLength = data.stampNumber;
                    var stampLength = document.getElementById('stamp-length');
                    var addLength = stampLength.innerHTML.substr(0, 1);
                    for (var i=0; i<dataLength; i++) {
                        appendData += '<tr class="even pointer green" >';
                        appendData += '<td class="a-center ">' +
                            '<input type="checkbox" class="flat search_checkbox" name="table_records">' +
                            '</td>' +
                            '<td class=" ">'+ data.userId +'</td>' +
                            '<td class=" ">'+ data.visitDate +'</td>' +
                            '<td class=" ">N</td>' +
                            '<td class=" last red"><a onclick="deleteStamp(\''+ data.userId +'\', \'' + data.visitDate +'\');">삭제</a>' +
                            '<td class=" ">N</td>' +
                            '<td class=" last"><a onclick="completePush(\''+ data.userId +'\');"><i class="fa fa-bell blue"></i></a>' +
                            '</td>' +
                            '</tr>';
                        addLength++;
                    }
                    userHisData.innerHTML = appendData + userHisData.innerHTML;
                    stampLength.innerHTML = addLength +' 개';
                }
                $("input:radio[name=paramStampValue]:checked").prop("checked", false);
                $("input:radio[name=paramStampValue]:radio[value='1']").prop("checked", true);
            },
            error: function(request, status, error) {
                console.error("use coupon : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function adminStampCallback(userId) {
        var shopId = $("#shop_id").val();
        var stampNumber = $("input:radio[name=paramStampValue]:checked").val();
        var dataString = {'shop_id': shopId, 'stamp_number': stampNumber};
        var headers = {};
        headers["user_id"] = userId;

        $.ajax({
            url: $("#url").val() + '/stamp/v1/update-stamp-admin',
            type: 'POST',
            headers: headers,
            dataType: 'json',
            data: dataString,
            success: function (data) {
                if (data.result == "success") {
                    $("#phone-text").val('');
                    $('#phone-text').focus();
                    $.toast.config.align = 'center';
                    $.toast.config.width = 500;
                    $.toast('<span style="font-size:1.8em;"><h4 style="font-size:2em;">스탬프 적립</h4>이 완료되었습니다.!!!.</span>', { type: 'info', duration: 3000 });
                    var visitRateCnt = data.stampCnt % 10;
                    var sumStamp = Number(visitRateCnt) + Number(stampNumber);

                    if (sumStamp > 9) {
                        var headers = {};
                        headers["user_id"] = userId;
                        var dataString = {'shop_id': shopId};
                        $.ajax({
                            url: $("#url").val() + '/coupon/v1/couponData',
                            type: 'PUT',
                            headers: headers,
                            dataType: 'json',
                            data: dataString,
                            success: function (data) {
                                $.toast.config.align = 'center';
                                $.toast.config.width = 500;
                                $.toast('<span style="font-size:1.8em;"><h4 style="font-size:2em;">쿠폰 발급</h4>이 완료되었습니다.</span>', {type: 'success', sticky: true});
                            },
                            error: function (request, status, error) {
                                console.error("issued coupon : code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                            }
                        });
                    }

                    $("input:radio[name=paramStampValue]:checked").prop("checked", false);
                    $("input:radio[name=paramStampValue]:radio[value='1']").prop("checked", true);
                }
            },
            error: function (request, status, error) {
                console.error("selectStampDate : code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function pushStamp(sendId, checkCall) {
        $("#push-stamp-confirm").dialog({
            resizable: false,
            modal: true,
            title: "파파 스탬프 적립!",
            height: 540,
            width: 700,
            resizable:false,
            buttons: {
                "확인": function () {
                    $(this).dialog('close');
                    if(checkCall == 'admin') {
                        adminStampCallback(sendId);
                    }else {
                        pushStampCallback(sendId);
                    }
                },
                "취소": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function pushUseCouponCallback(userId, couponNumber) {
        var shopId = $("#shop_id").val();
        var dataString = {'shop_id': shopId, 'coupon_number': couponNumber};
        var headers = {};
        headers["user_id"] = userId;

        $.ajax({
            url: $("#url").val() + '/notification/v1/issued-coupon',
            type: 'POST',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
                if($('#user-data').length > 0) {
                    var userHisData = document.getElementById('user-data');
                    var couponLength = document.getElementById('coupon-length');
                    var addLength = couponLength.innerHTML.substr(0, 1);
                    addLength++;
                    var appendData = '';
                    appendData += '<tr class="even pointer green" >';
                    appendData += '<td class="a-center ">' +
                        '<input type="checkbox" class="flat search_checkbox" name="table_records">' +
                        '</td>' +
                        '<td class=" ">'+ data.userId +'</td>' +
                        '<td class=" ">'+ data.couponNumber +'</td>' +
                        '<td class=" ">'+ data.visitDate +'</td>' +
                        '<td class=" ">Y</td>' +
                        '<td class=" ">Y</td>' +
                        '<td class=" ">N</td>' +
                        '<td class=" last"><a href="#">삭제</a>' +
                        '</td>' +
                        '</tr>';

                    userHisData.innerHTML = appendData + userHisData.innerHTML;
                    couponLength.innerHTML = addLength +' 개';
                }
            },
            error: function(request, status, error) {
                console.error("use coupon : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function pushUseCoupon(sendId, couponNumber) {
        var shopId = $("#shop_id").val();
        var dataString = {'shop_id': shopId, 'coupon_number': couponNumber};
        var headers = {};
        headers["user_id"] = sendId;
        $.ajax({
            url: $("#url").val() + '/coupon/v1/selectCoupon',
            type: 'GET',
            headers : headers,
            dataType: 'json',
            data : dataString,
            success: function(data) {
                $(".user-number").html(data.userNumber);
                $("#confirm-user-coupon-number").html(data.selectCouponData.COUPON_NUMBER + ' / ' + data.selectCouponData.COUPON_NAME + ' / ' + data.selectCouponData.EXPIRATION_DT);

                $("#user-coupon-confirm").dialog({
                    resizable: false,
                    modal: true,
                    title: "파파스탬프 쿠폰 사용 요청! (도장)",
                    height: 500,
                    width: 700,
                    resizable:false,
                    buttons: {
                        "확인": function () {
                            $(this).dialog('close');
                            pushUseCouponCallback(sendId, couponNumber);
                        },
                        "취소": function () {
                            $(this).dialog('close');
                        }
                    }
                });
            },
            error: function(request, status, error) {
                console.error("use coupon : code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
</script>

</html>


